<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meu.overlay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:label="Menu Invisivel"
        /* MUDANÇA AQUI: Desativamos a aceleração global para permitir o 'furo' da transparência */
        android:hardwareAccelerated="false"
        android:supportsRtl="true">
        
        <activity
            android:name="com.meu.overlay.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            /* Garante que o tema que você criou seja aplicado */
            android:theme="@style/AppTheme"
            android:launchMode="singleInstance"
            /* Ajuda a manter a transparência em overlays */
            android:showForAllUsers="true"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
